@use "/src/styles/main.scss";
@use "/src/styles/mixins.scss"; 
@use "/src/styles/variables.scss"; 

.accomodation_wrapper{
    display: flex;
    // height: 415px;
    min-height: calc(100vh - 288px);
    width: 100%;
    // gap: 20px;
    gap: 2rem;
    background-color: #FFFFFF;
    flex-direction: column;

}

.accomodation{
    border-radius: 25px;
    background-color: #FFFFFF;
    flex-grow: 1;
    &_content{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;        
        color: #000000;  // test color
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 650px){
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;  
            gap: 10px;   
        }
        &_infos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            h1{
                font-size: clamp(18px, 3vw, 36px);
                font-weight: 500;
                color: #ff6060;

            }
            p{
                font-size: clamp(14px, 1.6vw, 18px);
                font-weight: 500;
            }
            button{
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: #ffffff;
                background-color: #ff6060;
                width: 135px;
                // height: 25px;
                // height: 29px;
                height: auto;
                font-size: clamp(10px, 1.4vw, 14px);
                &:hover{
                    box-shadow: 0 2px 8px rgb(0, 0, 0);
                }
            }
            div{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;  
            }
        }
        &_host{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #FF6060;
            @media screen and (max-width: 650px){
                width: 100%;
                 
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;  
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                font-size: clamp(12px, 1.6vw, 18px);
                @media screen and (max-width: 500px){
                    gap: 0 5px;   
                }
            }
            &_name{
                align-self: center;
                flex-direction: column;
            }
            img{
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            &_stars{
                display: flex;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    @media screen and (max-width: 650px){
                        width: 20px;
                        height: 20px;  
                    }
                }
            }
        }
    }
}
.custom-collapse{
    font-size: 10px;
}

.accomodation_collapse_item{
    width: 50%;
    border-radius: 10px;    
    @media screen and (max-width: 650px){
        width: 100%;
    }
}